# Backend
backend/.env.local
backend/.env.*.local
backend/var/
backend/vendor/
backend/public/uploads/
backend/config/jwt/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Mobile
mobile/node_modules/
mobile/www/
mobile/.angular/
mobile/android/app/build/
mobile/android/.gradle/
mobile/ios/App/Pods/

# System
.DS_Store
*.log
