# Backend
backend/.env.local
backend/.env.*.local
backend/var/
backend/vendor/
backend/public/uploads/
backend/config/jwt/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Mobile
mobile/node_modules/
mobile/www/
mobile/.angular/
mobile/android/app/build/
mobile/android/.gradle/
mobile/ios/App/Pods/
mobile/android/app/google-services.json
mobile/ios/App/App/GoogleService-Info.plist

# Firebase
backend/config/firebase-credentials.json

# System
.DS_Store
*.log
